*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.header{
    padding-top: 36px;
    background-image: url(./images/bacg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_list{
    display: flex;
    align-items: center;
}
.header_btn{
    width: 2px;
    height: 47px;
    opacity: 0.5;
    background: #FFF;
    display: block;
    margin: 10px;
}
.header_item{
    background-color: #fff; 
    border-radius: 50%;
    padding: 10px 10px;
    margin-left: 42px;
}

.hero_container{
    display: flex;
    align-items: center;
    gap: 95px;
}
.hero_wrap{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 35px;
}
.title{
    color: #FFF;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 2.2px;
    text-transform: uppercase;
}
.title1{
    width: 517px;
    color: #FFF;
    font-family: Rubik;
    font-size: 99.17px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.title2{
    color: #FFF;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.title3{
    color: #FFF;
    font-family: Rubik;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    text-decoration-line: strikethrough;
}
.btn{
    width: 2px;
    height: 57px;
    background: #FFF;
}
.btn1{
    color: #FF4948;
    font-family: Rubik;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 15px 30px;
    border: none;
    border-radius: 62px;
    background: #FFF;
}

.intro{
    padding-top: 130px;
}
.intro_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro_title{
    width: 508px;
    margin: 0 auto;
    margin-bottom: 70px;
    color: #180202;
    text-align: center;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.wrapper{
    padding-top: 130px;
}
.wrapper_container{
    display: flex;
    gap: 340px;
}
.wrapper_title{
    width: 380px;
    color: #180202;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.wrapper_block{
    background-image: url(./images/wrap.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 60px;
}
.wrapper_block1{
    background-image: url(./images/wrap1.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 60px;
}
.wrapper_block2{
    background-image: url(./images/wrap2.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding: 60px;
}
.wrapper-title{
    color: #180202;     
    font-family: Rubik;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
.wrapper_text{
    color: #180202;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.wrapper_title1{
    color: #FF4948;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
.tony{
    padding-top: 130px;
    padding-bottom: 130px;
}
.tony_title{
    color: #180202;
    text-align: center;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.tony_text{
    width: 517px;
    color: #180202;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 45px;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.tony_block{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tony_card{
    border-radius: 30px;
    background: #FFE5EE;
}
.tony_card1{
    border-radius: 30px;
    background: #E5F1FF;
}
.tony_card2{
    border-radius: 30px;
    background: #E5FFFB;
}
.tony_wrap{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
}
.tony_brat{
    display: flex;
    gap: 110px;
    margin-top: 20px;
}