*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    min-width: 1140px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.header{
    padding-top: 36px;
    background-image: url(./images/bacg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.price_container{
    display: flex;
}
.header_list{
    display: flex;
    align-items: center;
}
.header_btn{
    width: 2px;
    height: 47px;
    opacity: 0.5;
    background: #FFF;
    display: block;
    margin: 10px;
}
.header_item{
    background-color: #fff; 
    border-radius: 50%;
    padding: 10px 10px;
    margin-left: 42px;
}